:host {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
}

.textfield {
    @apply block w-full h-10 rounded-md border-0 py-1.5 text-lg text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-primary sm:leading-6;
}