:host {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.textArea {
    @apply block w-full rounded-md py-1 border-0
    bg-[#F1F5F9] dark:bg-[#1A222C] text-txtDarkColor dark:text-txtColor
    shadow-sm text-lg ring-1 ring-inset ring-gray-300
    placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-primary
    sm:leading-6 invalid:ring-1 invalid:ring-inset invalid:ring-gray-800;
}

.textfield {
    @apply block w-full h-9 rounded-md py-1 border-0
    bg-[#F1F5F9] dark:bg-[#1A222C] text-txtDarkColor dark:text-txtColor
    shadow-sm text-lg ring-1 ring-inset ring-gray-300
    placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-primary
    sm:leading-6 invalid:ring-1 invalid:ring-inset invalid:ring-gray-800;
}

.dropDown {
    @apply block min-w-64 h-9 rounded-md py-1 border-0
    bg-[#F1F5F9] dark:bg-[#1A222C] text-txtDarkColor dark:text-txtColor
    shadow-sm text-lg ring-1 ring-inset ring-gray-300
    placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-primary
    sm:leading-6 invalid:ring-1 invalid:ring-inset invalid:ring-gray-800;
}

.checkbox {
    @apply mt-1 h-5 w-5 rounded border-gray-300 text-primary focus:ring-primary
}

.invalid {
    @apply ring-1 ring-inset ring-red-500;
}

.requiredField {
    @apply after:content-['*'] after:text-sm after:absolute after:m-0.5;
}

// button {
//     @apply flex w-full justify-center
//            rounded-md bg-primary px-3 py-2 text-base h-10 font-semibold leading-6 text-txtDarkColor dark:text-txtColor shadow-sm
//            hover:bg-secondary focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2
//          focus-visible:outline-primary disabled:bg-white disabled:dark:bg-slate-900 disabled:text-black
//            disabled:outline disabled:outline-2 disabled:outline-offset-2 disabled:outline-gray-400 disabled:dark:outline-gray-50 disabled:cursor-not-allowed
// }

/* Set dropdown font-families */
#toolbar-container .ql-font span[data-label="MarathiFont"]::before {
    font-family: "MarathiFont";
}
/* Set content font-families */
.ql-editor {
    font-family: "MarathiFont";
}
