@use '../../../node_modules/ag-grid-community/styles/' as ag;
@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100;0,200;0,300;0,400;0,600;0,800;1,300;1,400;1,600;1,800&display=swap');

:root {
  --font-family: 'Work Sans', sans-serif;

  --text-color: #e5e7eb;
  --dark-text-color: #111827;
  --primary: #3498db; // Your primary color
  --secondary: #2ecc71; // Your secondary color
  --accent: #f39c12;
  --txtColor: #e5e9eb;
  --txtDarkColor: #211827;
  --bg-color: #ffffff;
  --dark-bg-color: #020617;
  --page-bg-color: #F1F5F9;
  --dark-page-bg-color: #1A222C;

  --maskbg: rgba(0, 0, 0, 0.4);
}

@include ag.grid-styles(
  (
    theme: custom-angular,
    extend-theme: alpine,
  )
);

html {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  font-family: var(--font-family);
}

body {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;

  // Page Theme Adjusment
  // @apply bg-[--page-bg-color] dark:bg-[--dark-page-bg-color];
}

a {
  @apply font-medium hover:text-primary dark:hover:text-primary;
}

div,
a,
span,
p,
h1,
h2,
h3,
h4 {
  @apply text-txtDarkColor dark:text-txtColor;
}

.textArea {
  @apply block w-full rounded-md py-1 border-0
  bg-[--page-bg-color] dark:bg-[--dark-page-bg-color] text-txtDarkColor dark:text-txtColor
  shadow-sm text-lg ring-1 ring-inset ring-gray-300
  placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-primary
  sm:leading-6 invalid:ring-1 invalid:ring-inset invalid:ring-gray-800;
}

.textfield {
  @apply block w-full h-9 rounded-md py-1 border-0
  bg-[--page-bg-color] dark:bg-[--dark-page-bg-color] text-txtDarkColor dark:text-txtColor
  shadow-sm text-lg ring-1 ring-inset ring-gray-300
  placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-primary
  sm:leading-6 invalid:ring-1 invalid:ring-inset invalid:ring-gray-800;
}

.dropDown {
  @apply block min-w-64 h-9 rounded-md py-1 border-0
  bg-[--page-bg-color] dark:bg-[--dark-page-bg-color] text-txtDarkColor dark:text-txtColor
  shadow-sm text-lg ring-1 ring-inset ring-gray-300
  placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-primary
  sm:leading-6 invalid:ring-1 invalid:ring-inset invalid:ring-gray-800;
}

.checkbox {
  @apply mt-1 h-5 w-5 rounded border-gray-300 text-primary focus:ring-primary;
}

.invalid {
  @apply ring-1 ring-inset ring-red-500;
}

.requiredField {
  @apply after:content-['*'] after:text-sm after:absolute after:m-0.5;
}

.dark {
  // Ag-Grid in Dark Mode
  .ag-theme-custom-angular {
    --ag-background-color: var(--dark-bg-color);
    --ag-foreground-color: var(--bg-color);
    --ag-odd-row-background-color: var(--ag-background-color);
    --ag-header-column-resize-handle-color: color-mix(
      in srgb,
      var(--ag-foreground-color) 12%,
      var(--ag-background-color)
    );
    --ag-card-shadow: 0 5px 5px rgb(15, 14, 15);
  }

  // Scrollbar in Dark Mode
  ::-webkit-scrollbar-track {
    background-color: color-mix(
      in srgb,
      var(--bg-color) 10%,
      var(--dark-bg-color)
    );
  }
  ::-webkit-scrollbar-thumb {
    background: color-mix(in srgb, var(--bg-color), var(--dark-bg-color) 12%);
  }

  .p-dialog .p-dialog-header,
  .p-dialog .p-dialog-content,
  .p-editor-container .p-editor-toolbar,
  .p-editor-container
    .p-editor-toolbar.ql-snow
    .ql-picker.ql-expanded
    .ql-picker-options,
  .p-editor-container
    .p-editor-toolbar.ql-snow
    .ql-picker.ql-expanded
    .ql-picker-options
    .ql-picker-item:hover,
  .p-editor-container .p-editor-content .ql-editor {
    background: var(--dark-bg-color);
    color: var(--txtColor);
  }

  .p-chips .p-chips-multiple-container .p-chips-token {
    background: var(--bg-color);
    color: var(--txtDarkColor);
  }

  .p-chips .p-chips-multiple-container .p-chips-token.p-focus,
  .p-chips .p-chips-multiple-container .p-chips-token .p-chips-token-label,
  .p-chips .p-chips-multiple-container .p-chips-input-token input {
    color: var(--txtDarkColor);
  }

  .p-message .p-message-summary .p-message .p-message-detail {
    color: var(--txtColor);
  }
}

.primary-btn {
  @apply flex w-full justify-center
         rounded-md bg-primary px-3 py-2 text-base h-10 font-semibold leading-6 text-txtDarkColor dark:text-txtColor shadow-sm
         hover:bg-secondary focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2
       focus-visible:outline-primary disabled:bg-white disabled:dark:bg-slate-900 disabled:text-black
         outline outline-2 outline-offset-2 disabled:outline-gray-400  disabled:cursor-not-allowed;
}

.outline-btn {
  @apply flex w-full justify-center
         rounded-md bg-white dark:bg-slate-900 px-3 py-2 text-base h-10 font-semibold leading-6 text-txtDarkColor dark:text-txtColor shadow-sm
         hover:bg-slate-900 hover:text-txtColor  dark:hover:bg-white dark:hover:text-txtDarkColor focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2
       focus-visible:outline-primary disabled:bg-white disabled:dark:bg-slate-900 disabled:text-black
         outline outline-2 outline-offset-2 disabled:outline-gray-400 disabled:dark:outline-gray-50 disabled:cursor-not-allowed;
}

.ag-theme-custom-angular {
  --ag-font-size: 14px;
  --ag-font-family: var(--font-family);
  --ag-grid-size: 6px;
  --ag-list-item-height: 20px;
  --ag-background-color: var(--bg-color);
  --ag-foreground-color: var(--dark-bg-color);

  // grid-header
  --ag-header-background-color: color-mix(
    in srgb,
    var(--ag-background-color),
    var(--ag-foreground-color) 2%
  );

  // grid-row
  --ag-borders: none;
  --ag-row-border-style: solid;
  --ag-row-border-width: 2px;
  --ag-row-border-color: var(--ag-header-column-resize-handle-color);

  // Menu's
  --ag-card-radius: 10px;
  --ag-card-shadow: 0 5px 5px rgba(107, 99, 107, 0.404);
  --ag-popup-shadow: var(--ag-card-shadow);
  --ag-tab-min-width: 350px;

  // Input
  --ag-borders-input: solid 2px;
  --ag-input-border-color: var(--primary);

  .ag-overlay-loading-wrapper {
    background-color: rgba(0, 0, 0, 0.4) !important;
  }

  .ag-menu,
  .ag-tabs-header {
    @apply bg-white dark:bg-[--dark-bg-color];
  }

  .ag-menu-option-active {
    background-color: #2661ad;
    color: white;
  }

  .ag-header-cell {
    font-weight: 600;
    font-size: 16px;
  }
}

// Scrollbar
::-webkit-scrollbar {
  width: 0.6rem;
}
::-webkit-scrollbar-track {
  background-color: color-mix(
    in srgb,
    var(--bg-color),
    var(--dark-bg-color) 10%
  );
  border-radius: 1rem;
  margin-block: 0.5rem;
  padding: 0.2rem;
}
::-webkit-scrollbar-thumb {
  width: 0.5rem;
  background: color-mix(in srgb, var(--bg-color) 45%, var(--dark-bg-color));
  border-radius: 0.2rem;
}

p-dynamicdialog {
  background-color: red;
  ::ng-deep {
    .p-component-overlay {
      background-color: red;
      [role='dialog'] {
        background-color: red;
      }
    }
  }
}

.p-dialog {
  border-radius: 6px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
  border: 0 none;
}
.p-dialog .p-dialog-header {
  border-bottom: 2px solid
    color-mix(in srgb, var(--bg-color), var(--dark-bg-color) 30%);
  background: var(--bg-color);
  color: var(--txtDarkColor);
  /* color: #374151; */
  padding: 0.8rem 1.5rem;
  border-top-right-radius: 6px;
  border-top-left-radius: 6px;
}
.p-dialog .p-dialog-header .p-dialog-title {
  font-weight: 600;
  font-size: 1.25rem;
}
.p-dialog .p-dialog-header .p-dialog-header-icon {
  width: 2rem;
  height: 2rem;
  color: #6b7280;
  border: 0 none;
  background: transparent;
  border-radius: 50%;
  transition: background-color 0.2s, color 0.2s, box-shadow 0.2s;
  margin-right: 0.5rem;
}
.p-dialog .p-dialog-header .p-dialog-header-icon:enabled:hover {
  color: #374151;
  border-color: transparent;
  background: #f3f4f6;
}
.p-dialog .p-dialog-header .p-dialog-header-icon:focus-visible {
  outline: 0 none;
  outline-offset: 0;
  box-shadow: 0 0 0 0.2rem #bfdbfe;
}
.p-dialog .p-dialog-header .p-dialog-header-icon:last-child {
  margin-right: 0;
}
.p-dialog .p-dialog-content {
  background: var(--bg-color);
  color: var(--txtDarkColor);
  padding: 0 1.5rem 2rem 1.5rem;
}
.p-dialog .p-dialog-content:last-of-type {
  border-bottom-right-radius: 6px;
  border-bottom-left-radius: 6px;
}
.p-dialog .p-dialog-footer {
  border-top: 0 none;
  background: #ffffff;
  color: #4b5563;
  padding: 0 1.5rem 1.5rem 1.5rem;
  text-align: right;
  border-bottom-right-radius: 6px;
  border-bottom-left-radius: 6px;
}
.p-dialog .p-dialog-footer button {
  margin: 0 0.5rem 0 0;
  width: auto;
}
.p-dialog.p-confirm-dialog .p-confirm-dialog-icon {
  font-size: 2rem;
}
.p-dialog.p-confirm-dialog .p-confirm-dialog-icon.p-icon {
  width: 2rem;
  height: 2rem;
}
.p-dialog.p-confirm-dialog .p-confirm-dialog-message {
  margin-left: 1rem;
}
.p-dialog.p-confirm-dialog .p-confirm-dialog-icon {
  font-size: 2rem;
}
.p-dialog.p-confirm-dialog .p-confirm-dialog-icon.p-icon {
  width: 2rem;
  height: 2rem;
}
.p-dialog.p-confirm-dialog .p-confirm-dialog-message {
  margin-left: 1rem;
}
.p-component-overlay {
  background-color: rgba(0, 0, 0, 0.4);
  transition-duration: 0.2s;
}
.p-component-overlay-enter {
  animation: p-component-overlay-enter-animation 150ms forwards;
}
.p-component-overlay-leave {
  animation: p-component-overlay-leave-animation 150ms forwards;
}
@keyframes p-component-overlay-enter-animation {
  from {
    background-color: transparent;
  }
  to {
    background-color: var(--maskbg);
  }
}
@keyframes p-component-overlay-leave-animation {
  from {
    background-color: var(--maskbg);
  }
  to {
    background-color: transparent;
  }
}

.p-message {
  margin: 1rem 0;
  border-radius: 6px;
}
.p-message .p-message-wrapper {
  padding: 1.25rem 1.75rem;
}
.p-message .p-message-close {
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  background: transparent;
  transition: background-color 0.2s, color 0.2s, box-shadow 0.2s;
}
.p-message .p-message-close:hover {
  background: rgba(255, 255, 255, 0.3);
}
.p-message .p-message-close:focus-visible {
  outline: 0 none;
  outline-offset: 0;
  box-shadow: 0 0 0 0.2rem #ddd6fe;
}
.p-message.p-message-info {
  background: #e9e9ff;
  border: solid #696cff;
  border-width: 0 0 0 6px;
  color: #696cff;
}
.p-message.p-message-info .p-message-icon {
  color: #696cff;
}
.p-message.p-message-info .p-message-close {
  color: #696cff;
}
.p-message.p-message-success {
  background: #e4f8f0;
  border: solid #1ea97c;
  border-width: 0 0 0 6px;
  color: #1ea97c;
}
.p-message.p-message-success .p-message-icon {
  color: #1ea97c;
}
.p-message.p-message-success .p-message-close {
  color: #1ea97c;
}
.p-message.p-message-warn {
  background: #fff2e2;
  border: solid #cc8925;
  border-width: 0 0 0 6px;
  color: #cc8925;
}
.p-message.p-message-warn .p-message-icon {
  color: #cc8925;
}
.p-message.p-message-warn .p-message-close {
  color: #cc8925;
}
.p-message.p-message-error {
  background: #ffe7e6;
  border: solid #ff5757;
  border-width: 0 0 0 6px;
  color: #ff5757;
}
.p-message.p-message-error .p-message-icon {
  color: #ff5757;
}
.p-message.p-message-error .p-message-close {
  color: #ff5757;
}
.p-message .p-message-text {
  font-size: 1rem;
  font-weight: 400;
}
.p-message .p-message-icon {
  font-size: 1.5rem;
  margin-right: 0.5rem;
}
.p-message .p-icon {
  width: 1.5rem;
  height: 1.5rem;
}
.p-message .p-message-summary {
  color: var(--txtDarkColor);
  font-weight: 700;
}
.p-message .p-message-detail {
  margin-left: 0.5rem;
  color: var(--txtDarkColor);
}

.p-toast {
  opacity: 0.9;
}
.p-toast .p-toast-message {
  margin: 0 0 1rem 0;
  box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.1);
  border-radius: 6px;
}
.p-toast .p-toast-message .p-toast-message-content {
  padding: 1rem;
  border-width: 0 0 0 6px;
}
.p-toast .p-toast-message .p-toast-message-content .p-toast-message-text {
  margin: 0 0 0 1rem;
}
.p-toast .p-toast-message .p-toast-message-content .p-toast-message-icon {
  font-size: 2rem;
}
.p-toast
  .p-toast-message
  .p-toast-message-content
  .p-icon:not(.p-toast-icon-close-icon) {
  width: 2rem;
  height: 2rem;
}
.p-toast .p-toast-message .p-toast-message-content .p-toast-summary {
  color: var(--txtDarkColor);
  font-weight: 700;
}
.p-toast .p-toast-message .p-toast-message-content .p-toast-detail {
  color: var(--txtDarkColor);
  margin: 0.5rem 0 0 0;
}
.p-toast .p-toast-message .p-toast-icon-close {
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  background: transparent;
  transition: background-color 0.2s, color 0.2s, box-shadow 0.2s;
}
.p-toast .p-toast-message .p-toast-icon-close:hover {
  background: rgba(255, 255, 255, 0.3);
}
.p-toast .p-toast-message .p-toast-icon-close:focus-visible {
  outline: 0 none;
  outline-offset: 0;
  box-shadow: 0 0 0 0.2rem #ddd6fe;
}
.p-toast .p-toast-message.p-toast-message-info {
  background: #e9e9ff;
  border: solid #696cff;
  border-width: 0 0 0 6px;
  color: #696cff;
}
.p-toast .p-toast-message.p-toast-message-info .p-toast-message-icon,
.p-toast .p-toast-message.p-toast-message-info .p-toast-icon-close {
  color: #696cff;
}
.p-toast .p-toast-message.p-toast-message-success {
  background: #e4f8f0;
  border: solid #1ea97c;
  border-width: 0 0 0 6px;
  color: #1ea97c;
}
.p-toast .p-toast-message.p-toast-message-success .p-toast-message-icon,
.p-toast .p-toast-message.p-toast-message-success .p-toast-icon-close {
  color: #1ea97c;
}
.p-toast .p-toast-message.p-toast-message-warn {
  background: #fff2e2;
  border: solid #cc8925;
  border-width: 0 0 0 6px;
  color: #cc8925;
}
.p-toast .p-toast-message.p-toast-message-warn .p-toast-message-icon,
.p-toast .p-toast-message.p-toast-message-warn .p-toast-icon-close {
  color: #cc8925;
}
.p-toast .p-toast-message.p-toast-message-error {
  background: #ffe7e6;
  border: solid #ff5757;
  border-width: 0 0 0 6px;
  color: #ff5757;
}
.p-toast .p-toast-message.p-toast-message-error .p-toast-message-icon,
.p-toast .p-toast-message.p-toast-message-error .p-toast-icon-close {
  color: #ff5757;
}

@font-face {
  font-family: 'MarathiFont';
  src: url('/assets/Marathi-Lekhani Normal.ttf') format('truetype');
}

.p-editor-container .p-editor-toolbar {
  background: var(--bg-color);
  border-top-right-radius: 6px;
  border-top-left-radius: 6px;
}
.p-editor-container .p-editor-toolbar.ql-snow {
  border: 1px solid #dee2e6;
}
.p-editor-container .p-editor-toolbar.ql-snow .ql-stroke {
  stroke: #6c757d;
}
.p-editor-container .p-editor-toolbar.ql-snow .ql-fill {
  fill: #6c757d;
}
.p-editor-container .p-editor-toolbar.ql-snow .ql-picker .ql-picker-label {
  border: 0 none;
  color: #6c757d;
}
.p-editor-container
  .p-editor-toolbar.ql-snow
  .ql-picker
  .ql-picker-label:hover {
  color: #495057;
}
.p-editor-container
  .p-editor-toolbar.ql-snow
  .ql-picker
  .ql-picker-label:hover
  .ql-stroke {
  stroke: #495057;
}
.p-editor-container
  .p-editor-toolbar.ql-snow
  .ql-picker
  .ql-picker-label:hover
  .ql-fill {
  fill: #495057;
}
.p-editor-container
  .p-editor-toolbar.ql-snow
  .ql-picker.ql-expanded
  .ql-picker-label {
  color: #495057;
}
.p-editor-container
  .p-editor-toolbar.ql-snow
  .ql-picker.ql-expanded
  .ql-picker-label
  .ql-stroke {
  stroke: #495057;
}
.p-editor-container
  .p-editor-toolbar.ql-snow
  .ql-picker.ql-expanded
  .ql-picker-label
  .ql-fill {
  fill: #495057;
}
.p-editor-container
  .p-editor-toolbar.ql-snow
  .ql-picker.ql-expanded
  .ql-picker-options {
  background: var(--bg-color);
  border: 0 none;
  box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.1);
  border-radius: 6px;
  padding: 0.75rem 0;
}
.p-editor-container
  .p-editor-toolbar.ql-snow
  .ql-picker.ql-expanded
  .ql-picker-options
  .ql-picker-item {
  color: #495057;
}
.p-editor-container
  .p-editor-toolbar.ql-snow
  .ql-picker.ql-expanded
  .ql-picker-options
  .ql-picker-item:hover {
  color: #495057;
  background: var(--bg-color);
}
.p-editor-container
  .p-editor-toolbar.ql-snow
  .ql-picker.ql-expanded:not(.ql-icon-picker)
  .ql-picker-item {
  padding: 0.75rem 1.25rem;
}
.p-editor-container .p-editor-content {
  border-bottom-right-radius: 6px;
  border-bottom-left-radius: 6px;
}
.p-editor-container .p-editor-content.ql-snow {
  border: 1px solid #dee2e6;
}
.p-editor-container .p-editor-content .ql-editor {
  background: var(--bg-color);
  color: var(--txtDarkColor);
  border-bottom-right-radius: 6px;
  border-bottom-left-radius: 6px;
}
.p-editor-container .ql-snow.ql-toolbar button:hover,
.p-editor-container .ql-snow.ql-toolbar button:focus {
  color: #495057;
}
.p-editor-container .ql-snow.ql-toolbar button:hover .ql-stroke,
.p-editor-container .ql-snow.ql-toolbar button:focus .ql-stroke {
  stroke: #495057;
}
.p-editor-container .ql-snow.ql-toolbar button:hover .ql-fill,
.p-editor-container .ql-snow.ql-toolbar button:focus .ql-fill {
  fill: #495057;
}
.p-editor-container .ql-snow.ql-toolbar button.ql-active,
.p-editor-container .ql-snow.ql-toolbar .ql-picker-label.ql-active,
.p-editor-container .ql-snow.ql-toolbar .ql-picker-item.ql-selected {
  color: #8b5cf6;
}
.p-editor-container .ql-snow.ql-toolbar button.ql-active .ql-stroke,
.p-editor-container .ql-snow.ql-toolbar .ql-picker-label.ql-active .ql-stroke,
.p-editor-container .ql-snow.ql-toolbar .ql-picker-item.ql-selected .ql-stroke {
  stroke: #8b5cf6;
}
.p-editor-container .ql-snow.ql-toolbar button.ql-active .ql-fill,
.p-editor-container .ql-snow.ql-toolbar .ql-picker-label.ql-active .ql-fill,
.p-editor-container .ql-snow.ql-toolbar .ql-picker-item.ql-selected .ql-fill {
  fill: #8b5cf6;
}
.p-editor-container .ql-snow.ql-toolbar button.ql-active .ql-picker-label,
.p-editor-container
  .ql-snow.ql-toolbar
  .ql-picker-label.ql-active
  .ql-picker-label,
.p-editor-container
  .ql-snow.ql-toolbar
  .ql-picker-item.ql-selected
  .ql-picker-label {
  color: #8b5cf6;
}

.p-dropdown {
  background: var(--bg-color);
  // border: 1px solid #ced4da;
  transition: background-color 0.2s, color 0.2s, border-color 0.2s,
    box-shadow 0.2s;
  border-radius: 6px;
  @apply h-9 rounded-md;
}
.p-dropdown:not(.p-disabled):hover {
  border-color: #8b5cf6;
}
.p-dropdown:not(.p-disabled).p-focus {
  outline: 0 none;
  outline-offset: 0;
  box-shadow: 0 0 0 0.2rem #ddd6fe;
  border-color: #8b5cf6;
}
.p-dropdown.p-dropdown-clearable .p-dropdown-label {
  padding-right: 1.75rem;
}
.p-dropdown .p-dropdown-label {
  background: transparent;
  border: 0 none;
}
.p-dropdown .p-dropdown-label.p-placeholder {
  color: #6c757d;
}
.p-dropdown .p-dropdown-label:focus,
.p-dropdown .p-dropdown-label:enabled:focus {
  outline: 0 none;
  box-shadow: none;
}
.p-dropdown .p-dropdown-trigger {
  background: transparent;
  color: #6c757d;
  width: 3rem;
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
}
.p-dropdown .p-dropdown-clear-icon {
  color: #6c757d;
  right: 3rem;
}
.p-dropdown.p-invalid.p-component {
  border-color: #e24c4c;
}

.p-dropdown-panel {
  background: var(--bg-color);
  color: #495057;
  border: 0 none;
  border-radius: 6px;
  box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.1);
}
.p-dropdown-panel .p-dropdown-header {
  padding: 0.75rem 1.25rem;
  border-bottom: 1px solid #dee2e6;
  color: #343a40;
  background: var(--bg-color);
  margin: 0;
  border-top-right-radius: 6px;
  border-top-left-radius: 6px;
}
.p-dropdown-panel .p-dropdown-header .p-dropdown-filter {
  padding-right: 1.75rem;
  margin-right: -1.75rem;
}
.p-dropdown-panel .p-dropdown-header .p-dropdown-filter-icon {
  right: 0.75rem;
  color: #6c757d;
}
.p-dropdown-panel .p-dropdown-items {
  padding: 0.75rem 0;
}
.p-dropdown-panel .p-dropdown-items .p-dropdown-item {
  margin: 0;
  padding: 0.75rem 1.25rem;
  border: 0 none;
  color: #495057;
  background: transparent;
  transition: box-shadow 0.2s;
  border-radius: 0;
}
.p-dropdown-panel .p-dropdown-items .p-dropdown-item.p-highlight {
  color: #6d28d9;
  background: var(--bg-color);
}
.p-dropdown-panel .p-dropdown-items .p-dropdown-item.p-highlight.p-focus {
  background: rgba(139, 92, 246, 0.24);
}
.p-dropdown-panel
  .p-dropdown-items
  .p-dropdown-item:not(.p-highlight):not(.p-disabled).p-focus {
  color: #495057;
  background: var(--bg-color);
}
.p-dropdown-panel
  .p-dropdown-items
  .p-dropdown-item:not(.p-highlight):not(.p-disabled):hover {
  color: #495057;
  background: var(--bg-color);
}
.p-dropdown-panel .p-dropdown-items .p-dropdown-item-group {
  margin: 0;
  padding: 0.75rem 1.25rem;
  color: #343a40;
  background: var(--bg-color);
  font-weight: 700;
}
.p-dropdown-panel .p-dropdown-items .p-dropdown-empty-message {
  padding: 0.75rem 1.25rem;
  color: #495057;
  background: transparent;
}

// P-CHIPS

.p-chips:not(.p-disabled):hover .p-chips-multiple-container {
  // border-color: #8B5CF6;
}
.p-chips:not(.p-disabled).p-focus .p-chips-multiple-container {
  // outline: 0 none;
  // outline-offset: 0;
  // box-shadow: 0 0 0 0.2rem #DDD6FE;
  // border-color: #8B5CF6;
}
.p-chips .p-chips-multiple-container {
  // padding: 0.375rem 0.75rem;
  gap: 0.5rem;
}
.p-chips .p-chips-multiple-container .p-chips-token {
  padding: 0.375rem 0.75rem;
  margin-right: 0.5rem;
  background: var(--dark-bg-color);
  color: var(--txtColor);
  border-radius: 16px;
}
.p-chips .p-chips-multiple-container .p-chips-token.p-focus {
  background: #ced4da;
  color: var(--txtColor);
}
.p-chips .p-chips-multiple-container .p-chips-token .p-chips-token-icon {
  margin-left: 0.5rem;
}
.p-chips .p-chips-multiple-container .p-chips-token .p-chips-token-label {
  color: var(--txtColor);
}
.p-chips .p-chips-multiple-container .p-chips-input-token {
  // padding: 0.375rem 0;
}
.p-chips .p-chips-multiple-container .p-chips-input-token input {
  font-family: inherit;
  font-feature-settings: inherit;
  font-size: inherit;
  color: var(--txtDarkColor);
  @apply block h-9 rounded-md py-1 border-0
  bg-[--page-bg-color] dark:bg-[--dark-page-bg-color] text-txtDarkColor dark:text-txtColor
  shadow-sm text-lg ring-1 ring-inset ring-gray-300
  placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-primary
  sm:leading-6 invalid:ring-1 invalid:ring-inset invalid:ring-gray-800;
}

p-chips.ng-dirty.ng-invalid > .p-chips > .p-inputtext {
  border-color: #e24c4c;
}

p-chips.p-chips-clearable .p-inputtext {
  padding-right: 1.75rem;
}
p-chips.p-chips-clearable .p-chips-clear-icon {
  color: #6c757d;
  right: 0.75rem;
}
