@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100;0,200;0,300;0,400;0,600;0,800;1,300;1,400;1,600;1,800&display=swap');

:root {
  --text-color: #e5e7eb;
  --dark-text-color: #111827;
}

html {
  width: 100%;
  height: 100%;
  font-family: 'Work Sans', sans-serif;
}

body {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;

  // Page Theme Adjusment
  @apply bg-[#F1F5F9] dark:bg-[#1A222C];
}

a {
  @apply font-medium hover:text-primary dark:hover:text-primary;
}

div,
a,span, p,
h1, h2, h3, h4 {
 @apply text-txtDarkColor dark:text-txtColor;
}